<template>
  <q-page class="">
    <todo class="q-pa-md"></todo>
  </q-page>
</template>

<script>
import Todo from 'components/Todo'

export default {
  name: 'TodoPage',
  components: { Todo }
}
</script>

<style scoped>

</style>
