<template>
  <div>
    <essential-link-external
      v-if="link !== ''"
      :title="title"
      :link="link"
      :caption="caption"
      :icon="icon"
    ></essential-link-external>
    <essential-link-internal
      v-if="to !== null"
      :title="title"
      :to="to"
      :caption="caption"
      :icon="icon"
      ></essential-link-internal>
  </div>
</template>

<script>

import EssentialLinkExternal from 'components/EssentialLinkExternal'
import EssentialLinkInternal from 'components/EssentialLinkInternal'

export default {
  name: 'EssentialLink',
  components: { EssentialLinkInternal, EssentialLinkExternal },
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: ''
    },

    to: {
      type: Object,
      default: null
    },

    icon: {
      type: String,
      default: ''
    }
  }
}
</script>
