<template>
  <q-dialog v-model="showDialog">
    <q-card style="width: 300px">

      <q-card-section>
        <div class="text-h6">Config Todo</div>
      </q-card-section>
      <q-card-section>
        <div class="text-overline">Source</div>
      </q-card-section>
      <q-card-section>
        <q-select :options="storageSources" v-model="activeSource"/>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn v-close-popup flat color="primary" label="Close" @click="select"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<script>

export default {
  name: 'TodoDialogConfig',
  methods: {
    select () {
      this.$emit('source-selected')
    },
    close () {
      this.$store.dispatch('todo/hideConfigDialog')
    }
  },
  computed: {
    storageSources () {
      return this.$store.getters['todo/backendSources']
    },
    activeSource: {
      get () {
        return this.$store.getters['todo/activeSource']
      },
      set (value) {
        this.$store.commit('todo/setActiveSource', value)
      }
    },
    showDialog: {
      get () {
        return this.$store.getters['todo/showConfigDialog']
      },
      set (value) {
        if (value) {
          this.$store.dispatch('todo/showConfigDialog')
        } else {
          this.$store.dispatch('todo/hideConfigDialog')
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
