<template>
  <div>

    <todo-dialog-config @source-selected="onSourceSelected"></todo-dialog-config>

    <div class="row">
      <q-input
        class="col"
        label="New Todo"
        v-model.trim="newTodo"
        @keydown.enter.prevent="submit"
      >
        <template v-slot:append>
          <q-icon v-if="newTodo" name="cancel" @click.stop="newTodo = null" class="cursor-pointer"/>
          <q-icon name="add" @click="submit" class="cursor-pointer"/>
        </template>
      </q-input>

      <q-btn
        flat
        rounded
        icon="settings"
        @click="showConfigDialog"
      />
    </div>
    <div class="q-mt-lg row">
      <div class="text-h5 q-mt-lg">Todo</div>
      <q-space></q-space>
      <q-btn size="md" flat rounded icon="clear_all" @click="clear"/>
    </div>
    <q-list v-if="todos.length" bordered separator class="q-mt-lg">
      <q-item v-for="item in todoItems" :key="item.id" class="todo-item">
        <q-item-section>
          {{ item.text }}
        </q-item-section>
        <q-item-section top side class="todo-item-actions">
          <div class="text-grey-8 q-gutter-xs">
            <q-btn class="gt-xs" size="12px" flat dense round icon="done" @click="done(item.id)"/>
            <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="remove(item.id)"/>
          </div>
        </q-item-section>
      </q-item>
    </q-list>

    <div class="text-h5 q-mt-lg">Done</div>

    <q-list v-if="todos.length" bordered separator class="q-mt-lg">
      <q-item v-for="item in doneTodoItems" :key="item.id" class="todo-item todo-done bg-teal-1">
        <q-item-section>
          {{ item.text }}
        </q-item-section>
        <q-item-section top side class="todo-item-actions">
          <div class="text-grey-8 q-gutter-xs">
            <q-btn class="gt-xs" size="12px" flat dense round icon="clear" @click="undone(item.id)"/>
            <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="remove(item.id)"/>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import todoService from 'src/services/todoService'
import TodoDialogConfig from 'components/TodoDialogConfig'

export default {
  name: 'Todo',
  components: { TodoDialogConfig },
  data () {
    return {
      configDialog: false,
      newTodo: '',
      todos: {}
    }
  },
  async mounted () {
    this.todos = await todoService.reload()
  },
  methods: {
    submit () {
      if (this.newTodo && this.newTodo.length > 0) {
        todoService.add(this.newTodo)
        this.$q.notify({
          message: `${this.newTodo} added.`,
          color: 'secondary'
        })
      } else {
        this.$q.notify({
          message: 'No text to add.',
          color: 'negative'
        })
      }
    },
    remove (id) {
      todoService.remove(id)
    },
    clear () {
      todoService.clear()
    },
    done (id) {
      todoService.markDone(id)
    },
    undone (id) {
      todoService.markUnDone(id)
    },
    showConfigDialog () {
      this.$store.dispatch('todo/showConfigDialog')
    },
    async onSourceSelected () {
      console.log('Source selected! Gettting todos!')
      this.todos = await todoService.reload()
    }
  },
  computed: {
    todoItems () {
      return this.todos.filter(todo => !todo.done)
    },
    doneTodoItems () {
      return this.todos.filter(todo => todo.done)
    }
  }
}
</script>

<style scoped>
.todo-item:hover > .todo-item-actions {
  display: flex;
}

.todo-item-actions {
  display: none;
}

</style>
